*.elc
*.orig
.dir-locals?.el
*~
\#*\#
ChangeLog
core
/emacs

# Generated during deployment
/packages/
/archive/
/archive-devel/
GNUmakefile
/admin

# Testing file
*.log
*.buildlog

# generated html
html/readme.html
